body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-primary: #5294FD; */
  --color-secondary: #DCEBFE;
  /* --color-primary: #ffdb58;
  --color-secondary: #ffdb58; */
  --color-success: #B8FD9F;
  --color-danger: #ff6b6b;
  --color-background: #f4f4f0;
}