body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
}

:root {
  --color-primary: #5294fd;
  --color-secondary: #dcebfe;
  --color-success: #7fbc8c;
  --color-danger: #ff6b6b;
  --color-background: #f4f4f0;
}
